.container {
  width: 80%;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  background-color: #f5f9fe;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container a {
  text-decoration: none;
  margin-right: 15px;
  color: #1d365e;
  transition: 0.3s;
  position: relative;
  color: #2a73dd;
}
header .container a:hover::before {
  width: 100%;
}
header .container a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background: #2a73dd;
  bottom: -3px;
  left: 50%;
  transition: 0.3s;
  transform: translateX(-50%);
  text-align: center;
}
header .container .logo {
  color: #2a73dd;
  font-size: x-large;
}

.banner {
  background-image: url(../img/product-header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .info h2 {
  color: #2a73dd;
}
.banner .info h3 {
  color: #1d365e;
}
.banner .info .btn-info,
.banner .info .btn-shop {
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 14px;
}
.banner .info .btn-info {
  border: 2px solid #2a73dd;
  color: #2a73dd;
}
.banner .info .btn-shop {
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  color: #fff;
  margin-left: 10px;
}

.products {
  padding: 80px 0px;
  background: #f5f9fe;
}
.products h2.title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #1d365e;
  margin-bottom: 50px;
}
.products .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  padding: 30px;
}
.products .list .item .wrapper img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}
.products .list .item .wrapper .desc {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.products .list .item .wrapper .desc .price {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .list .item .wrapper .desc .price button {
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 12px;
  color: #2a73dd;
}/*# sourceMappingURL=index.css.map */