@mixin btn-theme($base) {
    padding: $base * 1 $base * 3;
    border-radius: 8px;
    font-size: 14px;
  }
  
  @mixin shadow-theme($base) {
    box-shadow: $base * 1px $base * 1px $base * 2px $color-white-2,
      $base * -1px $base * -1px $base * 2px $color-white-3;
  }