@import "./variables";
// mixin phai import duoi variables
@import "./mixin";
@import "./base";
// _mixin.scss

// mixin


// css

header {
  box-shadow: 0 2px 4px $color-white-2;
  background-color: $color-white-1;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      margin-right: 15px;
      color: $color-blue-2;
      transition: 0.3s;
      position: relative;
      color: $color-blue-1;
      &:hover::before {
        width: 100%;
      }
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 0px;
        background: $color-blue-1;
        bottom: -3px;
        // cho left 50% de cho no center
        left: 50%;
        transition: 0.3s;
        transform: translateX(-50%);
        text-align: center;
      }
    }
    .logo {
      color: $color-blue-1;
      font-size: x-large;
    }
  }
}

.banner {
  // luu y la nhung file css chu khong phai nhung sass file nen khi nhung file thi dung tu file index.CSS
  // neu nhu di theo duong dan cua file SASS la sai
  background-image: url(../img/product-header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .info {
    h2 {
      color: $color-blue-1;
    }
    h3 {
      color: $color-blue-2;
    }

    .btn-info,
    .btn-shop {
      @include btn-theme(10px);
    }
    .btn-info {
      border: 2px solid $color-blue-1;
      color: $color-blue-1;

      // @include btn-theme(15px);
    }
    .btn-shop {
      background: linear-gradient(120deg, $color-blue-3, $color-blue-1);
      color: $color-white-3;
      margin-left: 10px;
      // @include btn-theme(17px);
    }
  }
}

.products {
  padding: 80px 0px;
  background: $color-white-1;
  h2.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: $color-blue-2;
    margin-bottom: 50px;
  }
  .list {
    .item {
      @include shadow-theme(6);
      border-radius: 8px;
      padding: 30px;
      .wrapper {
        img {
          @include shadow-theme(6);
          border-radius: 8px;
        }
        .desc{
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            .price{
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                button{
                    @include shadow-theme(2);
                    border-radius: 4px;
                    padding: 5px 15px;
                    font-size: 12px;
                    color: $color-blue-1;
                }
            }
        }
      }

    }
  }
}

// vao vercel dang ky account de deploy tot hon